{% if paginator.pageCount > 1 %}

    <div>
        <ul class="pagination pagination-sm">
            {% if paginator.current != paginator.first %}
                {{ path(app.request.get('_route'),{page: paginator.first}) }}
                <li><a href="{{ path(app.request.get('_route'),{page: paginator.first}) }}"><i
                                class="glyphicon glyphicon-fast-backward"></i></a></li>
            {% else %}
                <li class="disabled"><span><i class="glyphicon glyphicon-fast-backward"></i></span></li>
            {% endif %}

            {% if paginator.previous is defined and paginator.current != paginator.previous %}
                <li><a href="{{ path(app.request.get('_route'), {page: paginator.previous}) }}"><i
                                class="glyphicon glyphicon-step-backward"></i></a></li>
            {% else %}
                <li class="disabled"><span><i class="glyphicon glyphicon-step-backward"></i></span></li>
            {% endif %}

            {% for page_in_range in paginator.pagesInRange %}
                {% if page_in_range != paginator.current %}
                    <li><a href="{{ path(app.request.get('_route'), {page: page_in_range}) }}">{{ page_in_range }}</a></li>
                {% else %}
                    <li class="active"><span>{{ page_in_range }}</span></li>
                {% endif %}
            {% endfor %}

            {% if next is defined and current != next %}
                <li><a href="{{ path(app.request.get('_route'), {page: paginator.next}) }}"><i
                                class="glyphicon glyphicon-step-forward"></i></a></li>
            {% else %}
                <li class="disabled"><span><i class="glyphicon glyphicon-step-forward"></i></span></li>
            {% endif %}

            {% if paginator.current != paginator.last %}
                <li><a href="{{ path(app.request.get('_route'), {page: paginator.last}) }}"><i
                                class="glyphicon glyphicon-fast-forward"></i></a></li>
            {% else %}
                <li class="disabled"><span><i class="glyphicon glyphicon-fast-forward"></i></span></li>
            {% endif %}
        </ul>
    </div>

{% endif %}
